node_modules/
node_modules/*
/assets/css/main.css
/assets/fonts/
/assets/fonts/*
/assets/components
/assets/macros
/assets/images
/assets/rebrand
/assets/manifest.json
/assets/js/*
!/assets/js/main.js
/vendor
composer.lock
package-lock.json 
.DS_store
*.log