$govuk-brand-colour : #8224e3 ; 
$govuk-text-colour : #0b0c0c ; 
$govuk-canvas-background-colour : #f3f2f1 ; 
$govuk-body-background-colour : #ffffff ; 
$govuk-print-text-colour : #000000 ; 
$govuk-secondary-text-colour : #505a5f ; 
$govuk-focus-colour : #ffdd00 ; 
$govuk-focus-text-colour : #0b0c0c ; 
$govuk-error-colour : #d4351c ; 
$govuk-success-colour : #ed00ed ; 
$govuk-border-colour : #b1b4b6 ; 
$govuk-input-border-colour : #0b0c0c ; 
$govuk-hover-colour : #b1b4b6 ; 
$govuk-link-colour : #288214 ; 
$govuk-link-visited-colour : #4c2c92 ; 
$govuk-link-hover-colour : #003078 ; 
$govuk-link-active-colour : #0b0c0c ; 
